.box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 150px;
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--primary);
    cursor: pointer;
    transition: all 0.3s ease;
}

.box i {
    margin-bottom: 10px;
}

.box.active {
    background-color: var(--primary);
    color: #fff;
}

.box:hover {
    background-color: var(--primary);
    color: #fff;
}

@media (max-width: 640px) {
    .box {
        min-width: 80px;
        height: 100px;
        padding: 10px;
        margin: 10px;
        border-radius: 12px;
    }
}

@media (min-width: 640px) {
    .box {
        width: 90px;
        height: 120px;
        padding: 5px;
        margin: 5px;
        border-radius: 15px;
    }
}

@media (min-width: 768px) {
    .box {
        width: 100px;
        height: 140px;
        padding: 20px;
        margin: 5px;
        border-radius: 20px;
    }
}

@media (min-width: 1024px) {
    .box {
        width: 130px;
        height: 150px;
        padding: 20px;
        margin: 10px;
        border-radius: 25px;
    }
}
