.accordion button {
    border-radius: 10px;
    box-shadow: 2px 2px 5px var(--primary);
}

.accordion button:hover {
    background-color: var(--secondary);
}

.accordion button.open {
    background-color: var(--secondary);
    color: black;
}


